<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend> Delete a user: </legend>
                <div class="input-group d-none">
                    <label>Id: </label>
                    <input name="userId" type="text" value="<%= userDelete.id %>" />
                </div>
                <div class="input-group">
                    <label>Are you sure delete this user with email: </label>
                    <input name="email" type="text" value="<%= userDelete.email %>" />
                </div>

                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>